# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.test
debug
klepto

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/dist
debug
.klepto.toml
coverage.txt

# Vendor stuff
.glide/
vendor/

*.coverprofile
