sudo: required
language: go

go:
  - 1.13.x

services:
  - mysql
  - postgresql

addons:
  postgresql: "9.6"

env:
  - TEST_POSTGRES="postgres://postgres@localhost:5432?sslmode=disable"
    TEST_MYSQL="root@tcp(localhost:3306)/"

install:
  - mkdir -p $GOPATH/bin
  - go get github.com/go-playground/overalls
  - go get github.com/goreleaser/goreleaser

script:
  - make test

after_success:
  - $GOPATH/bin/overalls -project=github.com/hellofresh/klepto -covermode=count
  - if [ "$TRAVIS_SECURE_ENV_VARS" == "true" ]; then bash <(curl -s https://codecov.io/bash) -f overalls.coverprofile; fi

# calls goreleaser
deploy:
- provider: script
  skip_cleanup: true
  script: curl -sL http://git.io/goreleaser | bash
  on:
    tags: true

