*        @hellofresh/devs
*.php    @hellofresh/devs @hellofresh/PM @hellofresh/QA
*.html   @hellofresh/devs @hellofresh/PM @hellofresh/QA
*.css    @hellofresh/devs @hellofresh/PM @hellofresh/QA
*.scss   @hellofresh/devs @hellofresh/PM @hellofresh/QA
*.sass   @hellofresh/devs @hellofresh/PM @hellofresh/QA
*.less   @hellofresh/devs @hellofresh/PM @hellofresh/QA
*.styl   @hellofresh/devs @hellofresh/PM @hellofresh/QA
*.js     @hellofresh/devs @hellofresh/PM @hellofresh/QA
*.jsx    @hellofresh/devs @hellofresh/PM @hellofresh/QA
*.go     @hellofresh/devs @hellofresh/PM @hellofresh/QA
*.py     @hellofresh/devs @hellofresh/PM @hellofresh/QA
*.json   @hellofresh/devs @hellofresh/PM @hellofresh/QA
*.yml    @hellofresh/devs @hellofresh/PM @hellofresh/QA
*.yaml   @hellofresh/devs @hellofresh/PM @hellofresh/QA
