version: "3"

services:

  postgres_source:
    image: postgres:9.6-alpine
    ports:
      - '8050:5432'
    environment:
      LC_ALL: C.UTF-8
      POSTGRES_USER: hello
      POSTGRES_PASSWORD: fresh
      POSTGRES_DB: klepto
    volumes:
      - pq_database:/var/lib/postgresql/data
      - ./fixtures/pg_simple.sql:/docker-entrypoint-initdb.d/init.sql

  postgres_dest:
    image: postgres:9.6-alpine
    ports:
      - '8051:5432'
    environment:
      LC_ALL: C.UTF-8
      POSTGRES_USER: hello
      POSTGRES_PASSWORD: fresh
      POSTGRES_DB: klepto

  mysql_source:
    image: mysql:5.6
    ports:
      - '8052:3306'
    environment:
      LC_ALL: C.UTF-8
      MYSQL_ROOT_PASSWORD: hellofresh
      MYSQL_USER: hello
      MYSQL_PASSWORD: fresh
      MYSQL_DATABASE: klepto
    volumes:
      - mysql_database:/var/lib/mysql
      - ./fixtures/mysql_simple.sql:/docker-entrypoint-initdb.d/init.sql

  mysql_target:
    image: mysql:5.6
    ports:
      - '8053:3306'
    environment:
      LC_ALL: C.UTF-8
      MYSQL_ROOT_PASSWORD: hellofresh
      MYSQL_USER: hello
      MYSQL_PASSWORD: fresh
      MYSQL_DATABASE: klepto

volumes:
  pq_database:
  mysql_database:
